.vs
.vscode
.DS_Store
.key

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
Artifacts/

tools/
# Roslyn cache directories
*.ide/
**/.idea

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NuGet restore
*project.lock.json

# Android Xamarin
Resource.Designer.cs